<h2>About us</h2>


<img src="http://www.nigelkehler.com/assets/img/photo.jpg">

<p>I am an experienced web developer who is always looking for new challenging and interesting projects. </p>

<p><a href="mailto:nigel.kehelr@gmail.com">nigel.kehler@gmail.com</a>